# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 'hello'

-87.8
/ + 6

### Answer 1:

The elements which are values: *, -, /, +

The elements which are expressions: 'hello', 87.8, 6

## 2. What is the difference between string and variable?

### Answer 2:

STRING is a sequence of unicode characters, also referred to as immutable sequence of data type.

VARIABLE is used to store values, specific reserved memory location is used and this is known as Variable.

## 3. Describe three different data types.

### Answer 3:

DATA TYPES - It is a classification which specifies the type of value a variable has and what type of operation can be applied to it. Data types are of five types, i.e, String, Integer, Float, Character, Boolean. Three of them are described below:

1. Integer - These are used for representing whole numbers.
2. Float - These are used for representing numbers with decimal point.
3. Boolean - These are used for representing logical values.

## 4. What is an expression made up of? What do all expressions do?

### Answer 4:

An expression is made up of variables, operators and operands. It evaluates the result down to a single value.

Example -- evaluating the expression's value to 50

In [2]:
20 * 5 - 50

50

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

### Answer 5:

EXPRESSION - It is a combination of variables, operations and values that returns a result value.

STATEMENT - This makes up a line of Python code, it may or may not give a specific values rather it will perform the function mentioned in statement.

Examples are given below:

In [6]:
6-9+5*7/2 # This is an expression

FirstName = 'My Name is Abu Haider' # This is a statement

print("iNeuron is the best") # This is an Expression Statement

iNeuron is the best

## 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

### Answer 6:

bacon 22 is the variable and bacon+1 is the expression and it does not reassign the value in bacon. The two cases arise in the above question which are as follows:

In [8]:
# Case 1:

bacon = 22
bacon+1

print(bacon)

22

In [9]:
# Case 2:

bacon = 22
bacon = bacon+1

print(bacon)

23

## 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

### Answer 7:

The first expression 'spam' follows String Concatenation and the second expression follows String Multiplication. So, both of these evaluate expressions to string 'spamspamspam'.

In [10]:
# String concatenation
print('spam'+'spamspam')

# String multiplication
print('spam'*3)

spamspamspam
spamspamspam

## 8. Why is eggs a valid variable name while 100 is invalid?

### Answer 8:

Variables in python cannot begin with a number and this is the reason why 100 is an invalid variable. The rules for naming a variable in Python are written below:

1. Variable name must start with a letter or the underscore character.
2. Variable name cannot start with a number.
3. Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
4. Variable names are case-sensitive (name, HULK and hulk are three different variables).
5. The reserved words(keywords) cannot be used naming the variable.

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

### Answer 9:

The three functions which can be used to get the integer, floating-point number, or string version of a value are:

1. int()
2. float()
3. str()

Examples of the same are given below:

In [11]:
print('int(4.5) --> ',int(4.5)) # int() function converts given input to int
print('float(4.5) --> ',float(4.5)) # float() function converts given input to float
print('str(4.5) --> ',str(4.5)) # str() function converts given input to string

int(4.5) -->  4
float(4.5) -->  4.5
str(4.5) -->  4.5

## 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

### Answer 10:

The expression 99 causes an error because it is not a string. Typecasting of 99 as a string will fix this error. So, the correct way would be:

In [13]:
'I have eaten ' + str(99) + 'burritos'

print('I have eaten '+str(99)+' burritos')

I have eaten 99 burritos